.main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAD9FC;
  
  font-family: 'Poppins', sans-serif;
}

.main-register-container-image {
  position: absolute; /* Position it absolutely within the main container */
  top: 0.5%;
  left: 0.5%;
  width: 4%;
  height: 5.5%;
  /* background-color: black; */
  background-image: url('../images/HOME.png');
  background-size: cover; /* Ensure the image covers the entire div */
  background-position: center; /* Center the image */
}

.main-notification-container {
  border-radius: 0.5em;
  background-color: transparent;
  height: 85%;
  width: 75%;
 /* Optional: Add some shadow for better visibility */
 /* Optional: Add some border radius for rounded corners */
  display: flex;
  flex-direction: column;
}

.navbar-notification{
 width: 40%;
 height: 10%;
 background-color: white;
 border-radius: 0.5em;
 display: flex;
 justify-content: center;
 align-items: center;
 border-bottom: 3px solid  #6a11cb;
 color: #6a11cb;
}


.job-details {
  padding: 1.5em;
  margin: 0 auto;  /* Center the job-details div */
  width: 80%;
  height: 100%;
  background-color: pink;
  border-radius: 0.5em;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  box-shadow: 0 0.25em 0.375em rgba(0, 0, 0, 0.1);
  text-align: center; /* Center text inside job-details */
}

middle-right {
  width: 60%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  
}
.middle-left{
  width:40%;
  height: 100%;
  background-color: white;
}

.navbar-notification-center{
  background-color: hue;
  margin-left: 10%;
  width: 100%;
  height: 100%;
  text-align: center;

}


.content-container {
  display: flex;
  flex-direction: row;
  height: 90%; /* Adjust height as needed */
}



.request-preview {

  padding: 1.2em;

  margin: 1em;

  font-family: 'Poppins';

  font-size: 1.2em;

  font-weight: bold;

  color: white;

  background-color: #6a11cb;

  background-image: linear-gradient(to right, #6a11cb, #8e24aa);

  border: none;

  border-radius: 0.5em;

  cursor: pointer;

  box-shadow: 0 0.25em 0.375em rgba(0, 0, 0, 0.1);

  transition: all 0.3s ease;

  display: flex;

  justify-content: center;

  align-items: center;

}

.request-preview:hover {
  background-color: darkred;
  color: white;
}

.request-details {
  text-align: center;
  height: 93.5%;
  width: 160%;
}

.no-selection {
  color: gray;
}


.job-details h1{
  margin-bottom: 10%;
}
.job-details p {
  margin: 1em ;
  font-size: 1.2em; /* Increase font size */
  color: black;
  text-align: left;

}

.job-details a {
  color: #6a11cb;
  text-decoration: none;
}

.job-details a:hover {
  text-decoration: underline;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #EAD9FC;
  z-index: 9999; /* Ensure it is above all other elements */
}


.ineditable {
  cursor: not-allowed;
  opacity: 0;
  background-color: #f0f0f0;
}